* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
packages export-subst
packages/** export-subst
/app linguist-language=ignore
/bootstrap linguist-language=ignore
/lang linguist-language=ignore
/database linguist-language=ignore
/config linguist-language=ignore
/public linguist-language=ignore
/resources linguist-language=ignore
/routes linguist-language=ignore
/storage linguist-language=ignore
/tests linguist-language=ignore
