* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
packages export-subst
packages/** export-subst
app export-subst
bootstrap export-subst
lang export-subst
database export-subst
config export-subst
public export-subst
resources export-subst
routes export-subst
storage export-subst
tests export-subst
